/* Write your CSS here! */
body {
    background-image: url("/images/Strawberry_Candy_Tile_Flooring.png");
    margin-top: 25px;
    color: deeppink;
    margin: 8px;
}

h1, h2, h3 {
    font-family: Candyshop;
    text-align: center;
    color: violet;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: purple;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p, li {
    background-color: deepskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    list-style: none;
}

li::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-image: url("images/Hard Candy.png");
    background-size: 15px;
}

img {
    align-content: center;
}

ul {
    margin-left: 100px;
    margin-right: 100px;
}

@font-face {
    font-family: "Candyshop";
    src: url("/fonts/Candyshop.ttf");
} 

#mainHeading {
    font-size: 100px;
    text-align: center;
    font-family: Candyshop;
    color: red;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}

.image {
    padding: 25px;
    text-align: center;
}

#funParagraph {
    color: green;
}

